
# These files contain output data which skew the reported language distribution
nb/wardakgong2021_calcs linguist-generated
nb/wardakgong2021_plots linguist-generated
nb/wardakgong2021_networkquantities linguist-generated
nb/wardakgong2021_montecarlo linguist-generated
