
# These files contain output data which skew the reported language distribution
nb/wardakgong2021_calcs.nb linguist-generated
nb/wardakgong2021_plots.nb linguist-generated
nb/wardakgong2021_networkquantities.nb linguist-generated
nb/wardakgong2021_montecarlo.nb linguist-generated
